sudo apt-get install ghc
sudo apt-get install cabal-install
sudo apt-get install libghc-hslogger-{dev,doc,prof}
sudo apt-get install libghc-mtl-{dev,doc,prof}
sudo apt-get install libghc-curl-{dev,doc,proc}
sudo apt-get install libghc-hoauth-{dev,doc,prof}
sudo apt-get install libghc-configfile-{dev,doc,prof}
sudo apt-get install libghc-aeson-{dev,doc,prof}
sudo apt-get install libghc-aeson-pretty-{dev,doc,prof} 
sudo apt-get install libghc-lens-aeson-{dev,doc,prof}
sudo apt-get install libghc-hsh-{dev,doc,prof}
